
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 90%;
}

body, span, div, a, h1, p, button, input, select, textarea {
  line-height: 1.5;
  font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  word-wrap: break-word;
}


.container{
  width: 100%;
  height: 100%;
}

.slideLeft-enter {
  transform: translateX(100px);
}
.slideLeft-enter.slideLeft-enter-active {
  transform: translateX(0);
  transition: transform 1000ms ease-in-out;
}
.slideLeft-leave {
  transform: translateX(0);
}
.slideLeft-leave.slideLeft-leave-active {
  transform: translateX(-100px);
  transition: transform 1000ms ease-in-out;
}
