
@import './util/centerer';
@import './util/media';
@import './util/color';
.body{
  width: 100%;
  height: 100%;
  margin: 0;
  background: $light-blue;
  color: white;
}
.container{
  @include bothCenterer;
  @include respond-to(medium-screen){
    width: 80%;
  }
  @include respond-to(wide-screen){
    width: 40%;
  }
  text-align: center;

  color: white;
}
.title{
  text-align: left;
  color: white;
  @include respond-to(medium-screen){
    font-size: 3em;
  }
  @include respond-to(wide-screen){
    font-size: 5em;
  }
}
.questionWrapper{
  margin: 3rem 0;
}
.question{
  font-family: 'Nanum Gothic','Ubuntu',sans-serif;
  text-align: right;
  width: 100%;
  @include respond-to(medium-screen){
    font-size: 1.2em;
  }
  @include respond-to(wide-screen){
    font-size: 1.7em;
  }
}
.inputContainer{
  margin: 3rem 0;
}
.mainInput{
  font-family: 'Nanum Gothic','Ubuntu',sans-serif;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  text-align: center;
  border: .5px solid;
  border-color: white;
  color: white;
  border-radius: 4px;
  transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
  &:focus{
    outline: none;
  }
  @include respond-to(wide-screen){
    &:hover{
      cursor: text;
      color: $red;
      border-color: $blue;
      transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
    }
  }
}
.button{
  min-width: 100px;
  padding: 10px;
  margin: 5px;
  float: right;
  font-size: 16px;
  border-radius: 4px;
  background: white;
  color: $light-blue;
  font-family: 'Nanum Gothic','Ubuntu',sans-serif;

  @include respond-to(medium-screen){
    font-size: 1.1em;
  }
  @include respond-to(wide-screen){
    font-size: 1.5em;
  }
}
.divider{
  border-top: 1px solid white;
  margin: 20px 0px;
}

.or{
  background: white;
  position: absolute;
  z-index: 999;
  width: 30px;
  margin: -30px 0px;
  left: calc(50% - 15px);
}