
@import './util/centerer';
@import './util/media';

.container{
  @include bothCenterer;
  @include respond-to(medium-screen){
    width: 80%;
  }
  @include respond-to(wide-screen){
    width: 40%;
  }
  text-align: center;

}
.question{
  padding: 10px;
  margin: 1.5rem;
  font-family: 'Nanum Gothic','Ubuntu',sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.mainInput{
  font-family: 'Nanum Gothic','Ubuntu',sans-serif;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  text-align: center;
  border: .5px solid #ccc;
  &:focus{
    outline: none;
  }
  @include respond-to(wide-screen){
    &:hover{
      cursor: text;
    }
  }
}

.divider{
  border-top: 1px solid #ccc;
  margin: 20px 0px;
}

.or{
  background: white;
  position: absolute;
  z-index: 999;
  width: 30px;
  margin: -30px 0px;
  left: calc(50% - 15px);
}