@import 'util/boxShadow';
@import 'util/color';

.transitionContainer{
  z-index: 1000;
  position: fixed;
  width: 500px;
  top: calc(10%);
  left: calc(50% - 250px);
}
.notifyWrapper{
  margin-top: 30px;
  width: 200px;
  @include box-shadow;
  border-radius: 4px;
}

.notify{
  padding: 20px 5px; 
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.success{
  color: $green;
}

.warning{
  color: $yellow;
}

.error{
  color: $red;
}