@import 'util/color.scss';
@import 'util/centerer.scss';
@import 'util/flex.scss';
@import 'util/boxShadow.scss';
@import 'util/media';
@import 'util/table';

.container{
  width: 100%;
  height: 100%;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
}

.loading{
  padding: 20px;
}

.moreContainer{
  @include moreContainer;
  width: 40%;
  height: 600px;
  transition: height 300ms ease-in-out;
}

.listWrapper{
  width: 90%;
  margin: auto;
}

.listInline{
  @include listInline;
  margin: 5px;
}

.listTitle{
  font-size: 16px;
  color: black;
}
.listAddr{

}
.imageAlt{
  height: 150px;
  text-align: center;
  padding: 20px;
  
  color: $green;
  word-break: break-word;
  word-wrap: break-word;
}
.pagination{
  text-align: center;
}
.filter{
  font-size: 16px;
  text-align: center;
  margin: 10px;
}