@import 'util/color.scss';
@import 'util/centerer.scss';
@import 'util/flex.scss';
@import 'util/boxShadow.scss';
@import 'util/media';
@import 'util/table';
@import 'util/input';

.container{
  @include respond-to(medium-screen){
    width: 100%;
  }
  @include respond-to(wide-screen){
    width: 90%;
  }
  height: 100%;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
}

.loading{
  padding: 20px;
}

.moreContainer{
  @include moreContainer;
  width: 40%;
  height: 600px;
  transition: height 300ms ease-in-out;
}

.listWrapper{
  width: 100%;
  margin: auto;
}

.listInline{
  @include listInline;
  margin: 5px;
}
.inputContainer{
  @include respond-to(medium-screen){
    width: 80%;
  }
  @include respond-to(wide-screen){
    width: 50%;
  }
  margin: auto;
  input{
    @include input;
  }
}
.searchHeader{
  margin: 10px 0px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.listTitle{
  font-size: 16px;
  color: black;
}
.listAddr{

}
.imageAlt{
  height: 150px;
  text-align: center;
  padding: 20px;
  
  color: $green;
  word-break: break-word;
  word-wrap: break-word;
}
.pagination{
  text-align: center;
}
.filter{
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

.ready{
  margin-top: 1.5rem;
  font-size: 16px;
  padding: 20px;
  width: 100%;
  
  p{
    padding: 10px;
    word-break: break-word;
    word-wrap: break-word;
    span{
      font-weight: 800;
    }
  }
}