.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: transform 600ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: transform 600ms ease-in-out;
}

.boom-enter{
  opacity: 0;
  transform: scale(0);
}
.boom-enter.boom-enter-active{
  opacity: 1;
  transform: scale(1.05);

  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.boom-exit {
  opacity: 1;
  transform: translateY(0);
}
.boom-exit.boom-exit-active{
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}